{% extends "base.html" %} {% load static %} {% block content %}
<section class="banner-area relative blog-home-banner" id="home"></section>
<div class="limiter" id="scrollTarget">
    <div class="container-login100">
        <div class="wrap-login100 p-b-220">
            <form
                id="passwordResetForm"
                style="position: relative"
                class="login100-form validate-form flex-sb flex-w"
                method="POST"
            >
                {% csrf_token %}
                <span class="login100-form-title p-b-51">Password Reset</span>
                <div
                    class="wrap-input100 validate-input m-b-16"
                    data-validate="Password is required"
                >
                    <input
                        class="input100"
                        type="email"
                        name="email"
                        placeholder="Enter your email"
                    />
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" class="login100-form-btn">
                        Send Reset Email
                    </button>
                </div>
            </form>
            <br />
        </div>
    </div>
</div>
<div id="dropDownSelect1"></div>
<script>
    window.onload = function () {
        // Select the element you want to scroll to
        const element = document.getElementById("scrollTarget");

        // Scroll to that element
        element.scrollIntoView({ behavior: "smooth" });
    };
</script>
{% endblock %}
