{% extends "base.html" %}{% load static %} {% block content %}
{% load thumbnail %} {% load humanize %}
            <!-- Start Banner Area -->
            <h1 class="d-none">Home Default Blog</h1>
            <div class="slider-area bg-color-grey">
                <div class="axil-slide slider-style-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="slider-activation axil-slick-arrow">
                                    <!-- Start Single Slide  -->
                                    {% for post in posts %}
                                    <div class="content-block">
                                        <!-- Start Post Thumbnail  -->
                                        <div class="post-thumbnail">
                                            <a href="post-details.html">
                                                <img
                                                    src="{{post.image.url}}"
                                                    alt="Post Images"
                                                />
                                            </a>
                                        </div>
                                        <!-- End Post Thumbnail  -->

                                        <!-- Start Post Content  -->
                                        <div class="post-content">
                                            <div class="post-cat">
                                                <div class="post-cat-list">
                                                    {% for cat in post.category.all %}
                                                    <a
                                                        class="hover-flip-item-wrapper"
                                                        href="{% url 'blog:post-category' cat_name=cat %}"
                                                    >
                                                        <span
                                                            class="hover-flip-item"
                                                        >
                                                            <span
                                                                data-text="{{cat}}"
                                                                >{{cat}}</span
                                                            >
                                                        </span>
                                                    </a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <h2 class="title">
                                                <a href="{% url 'blog:post-single' pid=post.id %}"
                                                    >{{post.title}}</a
                                                >
                                            </h2>
                                            <!-- Post Meta  -->
                                            <div
                                                class="post-meta-wrapper with-button"
                                            >
                                                <div class="post-meta">
                                                    <div
                                                        class="post-author-avatar border-rounded"
                                                    >
                                                        <img
                                                            src="{% static 'images/post-images/author/author-image-3.png' %}"
                                                            alt="Author Images"
                                                        />
                                                    </div>
                                                    <div class="content">
                                                        <h6
                                                            class="post-author-name"
                                                        >
                                                            <a
                                                                class="hover-flip-item-wrapper"
                                                                href="{% url 'blog:post-author' author_username=post.author %}"
                                                            >
                                                                <span
                                                                    class="hover-flip-item"
                                                                >
                                                                    <span
                                                                        data-text="{{post.author.get_full_name}}"
                                                                        >{{post.author.get_full_name}}</span
                                                                    >
                                                                </span>
                                                            </a>
                                                        </h6>
                                                        <ul
                                                            class="post-meta-list"
                                                        >
                                                            <li>
                                                                {{post.published_date}}
                                                            </li>
                                                            <li>Views: {{post.counted_views}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <ul
                                                    class="social-share-transparent justify-content-end"
                                                >
                                                    <li>
                                                        <a href="#"
                                                            ><i
                                                                class="fab fa-github-f"
                                                            ></i
                                                        ></a>
                                                    </li>
                                                    
                                                </ul>
                                                <div
                                                    class="read-more-button cerchio"
                                                >
                                                    <a
                                                        class="axil-button button-rounded hover-flip-item-wrapper"
                                                        href="{% url 'blog:post-single' pid=post.id %}"
                                                    >
                                                        <span
                                                            class="hover-flip-item"
                                                        >
                                                            <span
                                                                data-text="Read Post"
                                                                >Read Post</span
                                                            >
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Post Content  -->
                                    </div>
                                    {% endfor %}
                                    <!-- End Single Slide  -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Banner Area -->

            <!-- Start Featured Area  -->
            <div class="axil-featured-post axil-section-gap bg-color-grey">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2 class="title">Most Viewed Posts</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start Single Post  -->
                        {% for post in most_viewed_posts %}
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12 mt--30">
                            <div
                                class="content-block content-direction-column axil-control is-active post-horizontal thumb-border-rounded"
                            >
                                <div class="post-content">
                                    <div class="post-cat">
                                        <div class="post-cat-list">
                                            {% for cat in post.category.all %}
                                            <a
                                                class="hover-flip-item-wrapper"
                                                href="{% url 'blog:post-category' cat_name=cat %}"
                                            >
                                                
                                                <span class="hover-flip-item">
                                                    <span
                                                        data-text="{{cat}}"
                                                        >{{cat}}</span
                                                    >
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <h4 class="title">
                                        <a href="{% url 'blog:post-single' pid=post.id %}"
                                            >{{post.title}}</a
                                        >
                                    </h4>
                                    <div class="post-meta">
                                        <div
                                            class="post-author-avatar border-rounded"
                                        >
                                            <img
                                                src="{% static 'images/post-images/author/author-image-2.png' %}"
                                                alt="Author Images"
                                            />
                                        </div>
                                        <div class="content">
                                            <h6 class="post-author-name">
                                                <a
                                                    class="hover-flip-item-wrapper"
                                                    href="{% url 'blog:post-author' author_username=post.author %}"
                                                >
                                                    <span
                                                        class="hover-flip-item"
                                                    >
                                                        <span
                                                            data-text="{{post.author.get_full_name}}"
                                                            >{{post.author.get_full_name}}</span
                                                        >
                                                    </span>
                                                </a>
                                            </h6>
                                            <ul class="post-meta-list">
                                                <li>{{post.published_date|naturaltime}}</li>
                                                <li>Views: {{post.counted_views}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% thumbnail post.image "180x180" crop="center" as im %}
                                <div class="post-thumbnail">
                                    <a href="{% url 'blog:post-single' pid=post.id %}">
                                        <img
                                            src="{{im.url}}"
                                            alt="Post Images"
                                        />
                                    </a>
                                </div>
                                {% endthumbnail %}
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End Single Post  -->
                    </div>
                </div>
            </div>
            <!-- End Featured Area  -->

            <!-- Start Trending Post Area  -->
            <div
                class="axil-trending-post-area axil-section-gap bg-color-white"
            >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2 class="title">Feed</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Start Axil Tab Content  -->
                            <div class="tab-content">
                                <!-- Single Tab Content  -->
                                <div
                                    class="row trend-tab-content tab-pane fade show active"
                                    id="trendone"
                                    role="tabpanel"
                                    aria-labelledby="trend-one"
                                >
                                    <div class="col-lg-8">
                                        <!-- Start Single Post  -->
                                        {% for post in random_posts %}
                                        <div
                                            class="content-block trend-post post-order-list axil-control"
                                        >
                                            <div class="post-inner">
                                                <span class="post-order-list"
                                                    ></span
                                                >
                                                <div class="post-content">
                                                    <div class="post-cat">
                                                        <div
                                                            class="post-cat-list"
                                                        >
                                                        {% for cat in post.category.all %}
                                                            <a
                                                                class="hover-flip-item-wrapper"
                                                                href="{% url 'blog:post-category' cat_name=cat %}"
                                                            >
                                                                <span
                                                                    class="hover-flip-item"
                                                                >
                                                                    <span
                                                                        data-text="{{cat}}"
                                                                        >{{cat}}</span
                                                                    >
                                                                </span>
                                                            </a>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <h3 class="title">
                                                        <a
                                                            href="{% url 'blog:post-single' pid=post.id %}"
                                                            >{{post.title}}</a
                                                        >
                                                    </h3>
                                                    <div
                                                        class="post-meta-wrapper"
                                                    >
                                                        <div class="post-meta">
                                                            <div
                                                                class="content"
                                                            >
                                                                <h6
                                                                    class="post-author-name"
                                                                >
                                                                    <a
                                                                        class="hover-flip-item-wrapper"
                                                                        href="{% url 'blog:post-author' author_username=post.author %}"
                                                                    >
                                                                        <span
                                                                            class="hover-flip-item"
                                                                        >
                                                                            <span
                                                                                data-text="{{post.author.get_full_name}}"
                                                                                >{{post.author.get_full_name}}</span
                                                                            >
                                                                        </span>
                                                                    </a>
                                                                </h6>
                                                                <ul
                                                                    class="post-meta-list"
                                                                >
                                                                    <li>
                                                                        {{post.published_date|naturaltime}}
                                                                    </li>
                                                                    <li>
                                                                        Views: {{post.counted_views}}
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% thumbnail post.image "410x410" crop="center" as im %}
                                            <div class="post-thumbnail">
                                                <a href="{% url 'blog:post-single' pid=post.id %}">
                                                    <img
                                                        src="{{im.url}}"
                                                        alt="Post Images"
                                                    />
                                                </a>
                                            </div>
                                            {% endthumbnail %}
                                        </div>
                                        {% endfor %}
                                        <!-- End Single Post  -->

                                    </div>
                                </div>
                                <!-- Single Tab Content  -->

                            </div>
                            <!-- End Axil Tab Content  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Trending Post Area  -->

                        <!-- Start Categories List  -->
            <div class="axil-categories-list axil-section-gap bg-color-grey">
                <div class="container">
                    <div class="row align-items-center mb--30">
                        <div class="col-lg-6 col-md-8 col-sm-8 col-12">
                            <div class="section-title">
                                <h2 class="title">Trending Topics</h2>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Start List Wrapper  -->
                            <div class="list-categories d-flex flex-wrap">
                                <!-- Start Single Category  -->
                                <div class="single-cat">
                                    <div class="inner">
                                        <a href="#">
                                            <div class="thumbnail">
                                                <img
                                                    src="{% static 'images/post-images/post-sm-01.jpg' %}"
                                                    alt="post categories images"
                                                />
                                            </div>
                                            <div class="content">
                                                <h5 class="title">
                                                    Sports &#38; Fitness
                                                </h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Single Category  -->

                                <!-- Start Single Category  -->
                                <div class="single-cat">
                                    <div class="inner">
                                        <a href="#">
                                            <div class="thumbnail">
                                                <img
                                                    src="{% static 'images/post-images/post-sm-02.jpg' %}"
                                                    alt="post categories images"
                                                />
                                            </div>
                                            <div class="content">
                                                <h5 class="title">Travel</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Single Category  -->

                                <!-- Start Single Category  -->
                                <div class="single-cat">
                                    <div class="inner">
                                        <a href="#">
                                            <div class="thumbnail">
                                                <img
                                                    src="{% static 'images/post-images/post-sm-03.jpg' %}"
                                                    alt="post categories images"
                                                />
                                            </div>
                                            <div class="content">
                                                <h5 class="title">lifestyle</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Single Category  -->

                                <!-- Start Single Category  -->
                                <div class="single-cat">
                                    <div class="inner">
                                        <a href="#">
                                            <div class="thumbnail">
                                                <img
                                                    src="{% static 'images/post-images/post-sm-04.jpg' %}"
                                                    alt="post categories images"
                                                />
                                            </div>
                                            <div class="content">
                                                <h5 class="title">Health</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Single Category  -->

                                <!-- Start Single Category  -->
                                <div class="single-cat">
                                    <div class="inner">
                                        <a href="#">
                                            <div class="thumbnail">
                                                <img
                                                    src="{% static 'images/post-images/post-sm-05.jpg' %}"
                                                    alt="post categories images"
                                                />
                                            </div>
                                            <div class="content">
                                                <h5 class="title">Animals</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Single Category  -->

                                <!-- Start Single Category  -->
                                <div class="single-cat">
                                    <div class="inner">
                                        <a href="#">
                                            <div class="thumbnail">
                                                <img
                                                    src="{% static 'images/post-images/post-sm-06.jpg' %}"
                                                    alt="post categories images"
                                                />
                                            </div>
                                            <div class="content">
                                                <h5 class="title">
                                                    Food &#38; Drink
                                                </h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- End Single Category  -->
                            </div>
                            <!-- Start List Wrapper  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Categories List  -->

        </div>
{% endblock %}