{% load static %} {% load thumbnail %} {% for post in posts %} {% comment %}
<!-- prettier-ignore -->
{% endcomment %}
{% load humanize %}
<div class="content-block post-medium mb--20">
    {% thumbnail post.image "180x120" crop="center" as im %}
    <div class="post-thumbnail">
        <a href="{% url 'blog:post-single' pid=post.id %}">
            <img src="{{im.url}}" alt="Post Images" />
        </a>
    </div>
    {% endthumbnail %}
    <div class="post-content">
        <h6 class="title">
            <a href="{% url 'blog:post-single' pid=post.id %}"
                >{{post.title}}
            </a>
        </h6>
        <div class="post-meta">
            <ul class="post-meta-list">
                <li>{{post.published_date|naturaltime}}</li>
                <li>Views: {{post.counted_views}}</li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}
