{% extends "base.html" %}{% load static %} {% block content %} {% comment %}
<!-- prettier-ignore -->
{% endcomment %}
{% load thumbnail %}
<div class="main-wrapper">
    <div class="mouse-cursor cursor-outer"></div>
    <div class="mouse-cursor cursor-inner"></div>

    <h1 class="d-none">Home Tech Blog</h1>
    <!-- Start Post List Wrapper  -->
    <div class="axil-post-list-area axil-section-gap bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    <!-- Start Post List  -->
                    {% for post in posts %}
                    <div class="content-block post-list-view mt--30">
                        <div
                            class="post-thumbnail post-gallery-activation axil-slick-arrow arrow-between-side"
                        >
                            {% comment %}
                            <!-- prettier-ignore -->
                            {% endcomment %}
                            {% thumbnail post.image "260x260" crop="center" as im %}

                            <a href="{% url 'blog:post-single' pid=post.id %}">
                                <img src="{{im.url}}" alt="Post Images" />
                            </a>

                            {% endthumbnail %}
                        </div>
                        <div class="post-content">
                            <div class="post-cat">
                                <div class="post-cat-list">
                                    {% for cat in post.category.all %}
                                    <a
                                        class="hover-flip-item-wrapper"
                                        href="{% url 'blog:post-category' cat_name=cat %}"
                                    >
                                        <span class="hover-flip-item">
                                            <span data-text="{{cat}}"
                                                >{{cat}}</span
                                            >
                                        </span>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <h4 class="title">
                                <a
                                    href="{% url 'blog:post-single' pid=post.id %}"
                                    >{{post.title}}</a
                                >
                            </h4>
                            <div class="post-meta-wrapper">
                                <div class="post-meta">
                                    <div class="content">
                                        <h6 class="post-author-name">
                                            <a
                                                class="hover-flip-item-wrapper"
                                                href="{% url 'blog:post-author' author_username=post.author %}"
                                            >
                                                <span class="hover-flip-item">
                                                    <span
                                                        data-text="{{post.author}}"
                                                        >{{post.author}}</span
                                                    >
                                                </span>
                                            </a>
                                        </h6>
                                        <ul class="post-meta-list">
                                            <li>{{post.published_date}}</li>
                                            <li class="ml-2">
                                                Views: {{post.counted_views}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="paragrapgh">
                                    {{post.content|truncatewords:15 |safe}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div
                        style="
                            display: inline-flex;
                            justify-content: center;
                            width: 100%;
                        "
                    >
                        <h3>No Result :(</h3>
                    </div>
                    {% endfor %}
                    <!-- End Post List  -->

                    <!-- Start Paginator  -->
                    <div class="w-full mt-5 mb-5 d-flex justify-content-center">
                        <div
                            style="width: 300px"
                            class="d-flex justify-content-between"
                        >
                            {% if posts.has_previous %}
                            <div class="axil-slick-arrow">
                                <a href="?page={{posts.previous_page_number}}">
                                    <button
                                        class="slide-arrow next-arrow slick-arrow"
                                    >
                                        <i class="fal fa-arrow-left"></i>
                                    </button>
                                </a>
                            </div>
                            {% comment %}
                            <!-- prettier-ignore -->
                            {% endcomment %}
                            {% endif %} {% for page in posts.paginator.page_range %}
                            {% if posts.number == page %}
                            <div class="axil-slick-arrow">
                                <a href="?page={{page}}" class="">
                                    <button
                                        class="slide-arrow next-arrow slick-arrow"
                                    >
                                        <li style="list-style: none">
                                            <p style="font-weight: 1000">
                                                {{page}}
                                            </p>
                                        </li>
                                    </button>
                                </a>
                            </div>
                            {% else %}
                            <div class="axil-slick-arrow">
                                <a href="?page={{page}}">
                                    <button
                                        class="slide-arrow next-arrow slick-arrow"
                                    >
                                        <i>{{page}}</i>
                                    </button>
                                </a>
                            </div>
                            {% endif %} {% endfor %} {% if posts.has_next %}
                            <div class="axil-slick-arrow">
                                <a href="?page={{posts.next_page_number}}">
                                    <button
                                        class="slide-arrow next-arrow slick-arrow"
                                    >
                                        <i class="fal fa-arrow-right"></i>
                                    </button>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End Paginator  -->
                </div>
                <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                    <!-- Start Sidebar Area  -->
                    {% include "./sidebar-inner.html" %}
                    <!-- End Sidebar Area  -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Post List Wrapper  -->

    <!-- Start Back To Top  -->
    <a id="backto-top"></a>
    <!-- End Back To Top  -->
</div>
{% endblock %}
