{% load static %}{% load compress %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <meta name="description" content="" />
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow" />
        <meta property="og:title" content="blog for developers"/>
        <meta property="og:description" content="a great website for developers"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://djandotech.online"/>
        <title>DjangoTech</title>
        <!-- Favicon -->
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="{% static 'images/favicon.png' %}"
        />

        <!-- CSS
    ============================================ -->

        <!-- Bootstrap CSS -->
        {% compress css %}
        <link
            rel="stylesheet"
            href="{% static 'css/vendor/bootstrap.min.css' %}"
        />
        <link
            rel="stylesheet"
            href="{% static 'css/vendor/font-awesome.css' %}"
        />
        <link rel="stylesheet" href="{% static 'css/vendor/slick.css' %}" />
        <link
            rel="stylesheet"
            href="{% static 'css/vendor/slick-theme.css' %}"
        />
        <link rel="stylesheet" href="{% static 'css/vendor/base.css' %}" />
        <link rel="stylesheet" href="{% static 'css/plugins/plugins.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <style>
        .notifications {
            width: 100%;
            position: fixed;
            top: 80px;
            right: 20px;
            z-index: 1000;
            opacity: 0;
            transition: opacity 0.5s ease;
        }
        .notifications.show{
            opacity: 1;
        }

        #navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999; /* Adjust the z-index as needed */
        }
        #modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(1, 1, 1, 0.2);
            backdrop-filter: blur(20px);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            transition: opacity 0.5s; /* Smooth transition effect */
            opacity: 1; /* Initially visible */
             /* Enable interaction when visible */
            user-select:none;
        }

        /* Style for the content inside the modal */
        #modal-content {
            padding: 20px;
            background-color: #ebebebb3;
            border-radius: 10px;
        }
        /* HTML:  */
        .loader {
            width: 65px;
            height: 30px;
            position: relative;
        }
        .loader:before {
            content: "";
            position: absolute;
            border-radius: 50px;
            box-shadow: 0 0 0 3px inset #333;
            animation: l3 0.75s infinite alternate;
        }
        @keyframes l3 {
            0% {
                inset: 0 35px 0 0;
            }
            50% {
                inset: 0 0 0 0;
            }
            100% {
                inset: 0 0 0 35px;
            }
        }
        </style>
        {% endcompress %}
    </head>
        
    <body style="margin-top:80px">
        <div id="modal">
        <div id="modal-content">
            <div class="loader"></div>
        </div>
    </div>
        <div class="notifications">
            {% if messages %}
                <ul id="popup-message" style="position: absolute; right: 20px;">
                    {% for message in messages %}
                    <li style="text-align:right; list-style: none; color: #333333" class="mt-3 alert{% if message.tags == 'error' %}
                        alert-danger
                        {% elif message.tags == 'success' %}
                        alert-success
                        {% elif message.tags == 'warning' %}
                        alert-warning
                        {% endif %}
                        ">
                        {{ message|safe }}
                    </li>
                    {% endfor %}
                    <ul>
            {% endif %}
        </div>
        <div class="main-wrapper">
            <div id="my_switcher" class="my_switcher">
                <ul>
                    <li>
                        <a
                            href="javascript: void(0);"
                            data-theme="light"
                            class="setColor light"
                        >
                            <span title="Light Mode">Light</span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="javascript: void(0);"
                            data-theme="dark"
                            class="setColor dark"
                        >
                            <span title="Dark Mode">Dark</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Start Header -->
            <header class="header axil-header header-light header-sticky" id="navbar">
                <div class="header-wrap">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-3 col-12">
                            <div class="logo">
                                <a href="{% url 'website:home' %}">
                                    <img
                                        class="dark-logo"
                                        src="{% static 'images/logo/logo-black.png' %}"
                                        alt="Blogar logo"
                                    />
                                    <img
                                        class="light-logo"
                                        src="{% static 'images/logo/logo-white2.png' %}"
                                        alt="Blogar logo"
                                    />
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-6 d-none d-xl-block">
                            <div class="mainmenu-wrapper">
                                <nav class="mainmenu-nav">
                                    <!-- Start Mainmanu Nav -->
                                    <ul class="mainmenu">
                                        <li class="menu-item-has-children">
                                            <a href="{% url 'website:home' %}"
                                                >Home</a
                                            >
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="{% url 'blog:post-list' %}"
                                                >Posts</a
                                            >
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a
                                                href="{% url 'website:contact' %}"
                                                >Contact</a
                                            >
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="{% url 'website:about' %}"
                                                >About</a
                                            >
                                        </li>
                                    </ul>
                                    <!-- End Mainmanu Nav -->
                                </nav>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-8 col-md-8 col-sm-9 col-12">
                            <div
                                class="header-search text-end d-flex align-items-center"
                            >
                                <form
                                    action="{% url 'blog:post-search' %}"
                                    class="header-search-form d-sm-block d-none"
                                    method="GET"
                                >
                                    <div class="axil-search form-group">
                                        <button
                                            type="submit"
                                            class="search-button"
                                        >
                                            <i class="fal fa-search"></i>
                                        </button>
                                        <input
                                            name="s"
                                            type="text"
                                            class="form-control"
                                            placeholder="Search"
                                        />
                                    </div>
                                </form>
                                <div
                                    class="mobile-search-wrapper d-sm-none d-block"
                                >
                                    <button class="search-button-toggle">
                                        <i class="fal fa-search"></i>
                                    </button>
                                    <form
                                    action="{% url 'blog:post-search' %}"
                                    class="header-search-form"
                                    method="GET">
                                        <div class="axil-search form-group">
                                            <button
                                                type="submit"
                                                class="search-button"
                                            >
                                                <i class="fal fa-search"></i>
                                            </button>
                                            <input
                                                name="s"
                                                type="text"
                                                class="form-control"
                                                placeholder="Search"
                                            />
                                        </div>
                                    </form>
                                </div>
                                <div class="d-flex justify-content-around gap-4 m-4">
                                    {% if request.user.is_authenticated %}
                                        <a style="font-weight:400; color: #ffffff; background-color:#3858f6; padding: 8px 16px; border-radius:8px">{{ user.username }}</a>
                                        <a href="{% url 'accounts:logout' %}" style="font-weight:400; color: #ffffff; background-color:#1a1a1a; padding: 8px 16px; border-radius:8px">logout</a>
                                    {% else %}
                                        <a href="{% url 'accounts:login' %}" style="font-weight:400; color: #ffffff; background-color:#3858f6; padding: 8px 16px; border-radius:8px">login</a>
                                        <a href="{% url 'accounts:signup' %}" style="font-weight:400; color: #ffffff; background-color:#3858f6; padding: 8px 16px; border-radius:8px">signup</a>
                                    {% endif %}
                                </div>
                                <!-- Start Hamburger Menu  -->
                                <div class="hamburger-menu d-block d-xl-none">
                                    <div class="hamburger-inner">
                                        <div class="icon">
                                            <i class="fal fa-bars"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Hamburger Menu  -->
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Start Header -->

            <!-- Start Mobile Menu Area  -->
            <div class="popup-mobilemenu-area">
                <div class="inner">
                    <div class="mobile-menu-top">
                        <div class="logo">
                            <a href="{% url 'website:home' %}">
                                <img
                                    class="dark-logo"
                                    src="{% static 'images/logo/logo-black.png' %}"
                                    alt="Logo Images"
                                />
                                <img
                                    class="light-logo"
                                    src="{% static 'images/logo/logo-white2.png' %}"
                                    alt="Logo Images"
                                />
                            </a>
                        </div>
                        <div class="mobile-close">
                            <div class="icon">
                                <i class="fal fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="mainmenu">
                        <li>
                            <a href="{% url 'website:home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'blog:post-list' %}">Posts</a>
                        </li>
                        <li>
                            <a href="{% url 'website:contact' %}">Contact</a>
                        </li>
                        <li>
                            <a href="{% url 'website:about' %}">About</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Mobile Menu Area  -->

            {% block content %}{% endblock %}

            <!-- Start Footer Area  -->
            <div
                class="axil-footer-area axil-footer-style-1 footer-variation-2"
            >
                <!-- Start Footer Top Area  -->
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="logo">
                                    <a href="{% url 'website:home' %}">
                                        <img
                                            class="dark-logo"
                                            src="{% static 'images/logo/logo-black.png' %}"
                                            alt="Logo Images"
                                        />
                                        <img
                                            class="white-logo"
                                            src="{% static 'images/logo/logo-white2.png' %}"
                                            alt="Logo Images"
                                        />
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-8">
                                <!-- Start Post List  -->
                                <div
                                    class="d-flex justify-content-start mt_sm--15 justify-content-md-end align-items-center flex-wrap"
                                >
                                    <h5 class="follow-title mb--0 mr--20">
                                        Follow Us
                                    </h5>
                                    <ul
                                        class="social-icon color-tertiary md-size justify-content-start"
                                    >
                                        <li>
                                            <a href="https://github.com/tareqWpy"
                                                ><img style="width: 41px; height:41px" src="{% static 'images/icons/Group.png' %}" alt="Post Images">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Post List  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Footer Top Area  -->

                <!-- Start Copyright Area  -->
                <div class="copyright-area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-md-8">
                                <div class="copyright-left">
                                    <ul class="mainmenu justify-content-start">
                                        <li>
                                            <a
                                                class="hover-flip-item-wrapper"
                                                href="{% url 'website:home' %}"
                                            >
                                                <span class="hover-flip-item">
                                                    <span data-text="Blog Home"
                                                        >Blog Home</span
                                                    >
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                class="hover-flip-item-wrapper"
                                                href="{% url 'blog:post-list' %}"
                                            >
                                                <span class="hover-flip-item">
                                                    <span
                                                        data-text="Blog Posts"
                                                        >Blog Posts</span
                                                    >
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                class="hover-flip-item-wrapper"
                                                href="{% url 'website:about' %}"
                                            >
                                                <span class="hover-flip-item">
                                                    <span data-text="About Us"
                                                        >About Us</span
                                                    >
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a
                                                class="hover-flip-item-wrapper"
                                                href="{% url 'website:contact' %}"
                                            >
                                                <span class="hover-flip-item">
                                                    <span
                                                        data-text="Contact Us"
                                                        >Contact Us</span
                                                    >
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4">
                                <div
                                    class="copyright-right text-start text-md-end mt_sm--20"
                                >
                                    <p class="b3">All Rights Reserved © 2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Copyright Area  -->
            </div>
            <!-- End Footer Area  -->

            <!-- Start Back To Top  -->
            <a id="backto-top"></a>
            <!-- End Back To Top  -->
        </div>

        <!-- JS
============================================ -->
        {% compress js %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            var notifications = document.querySelector('.notifications');

            if (notifications) {
                notifications.classList.add('show');

                setTimeout(function() {
                notifications.classList.remove('show');
                }, 8000); // تاخیر خروجی نوتیفیکیشن‌ها به مدت 3 ثانیه
            }
            });

            window.addEventListener('scroll', function() {
            var navbar = document.getElementById('navbar');
            var sticky = navbar.offsetTop;
            
            if (window.pageYOffset >= sticky) {
                navbar.classList.add('sticky');
            } else {
                navbar.classList.remove('sticky');
            }
            });
            // Wait for the DOM to load
            document.addEventListener('DOMContentLoaded', function() {
                var modal = document.getElementById('modal');

                // Set a brief timeout to allow for a smooth transition
                setTimeout(function() {
                    modal.style.opacity = '0';
                    modal.style.pointerEvents = 'none'; // Disable interaction after transition
                }, 1000); // Adjust the timeout value to control transition duration

                // Enable pointer events on the modal to prevent interactions with elements behind it
                modal.style.pointerEvents = 'auto';
            });

        </script>
        <!-- Modernizer JS -->
        <script src="{% static 'js/vendor/modernizr.min.js' %}"></script>
        <!-- jQuery JS -->
        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <!-- Bootstrap JS -->
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/slick.min.js' %}"></script>
        <script src="{% static 'js/vendor/tweenmax.min.js' %}"></script>
        <script src="{% static 'js/vendor/js.cookie.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.style.switcher.js' %}"></script>

        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>
        {% endcompress %}
    </body>
</html>
